#contact iframe
{
    width: 100%;
}

.travel_mainDiv 
{
   border: 1px solid rgb(19, 29, 214);

}

.travel_mainDiv img 
{
    width: 100%;

}

.travel_mainDiv h5 , .travel_mainDiv p

{

    margin: 20px;
}

.movie_head
{
font-size: 20px;
padding: 6px 22px;
border-radius: 10px;
margin-bottom: 15px;
}
.movie_head i
{
    float: right;
}

.movie_text span
{

    color: rgb(13, 13, 170);
}
.book{

    margin-bottom: 20px;
}